<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Order" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="orderNo" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shippingId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="payment" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="paymentType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="postage" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="paymentTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sendTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="endTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="closeTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderNo, userId, shippingId, payment, paymentType, postage, status, paymentTime, 
    sendTime, endTime, closeTime, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mmall_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mmall_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.Order" >
    insert into mmall_order (id, orderNo, userId, 
      shippingId, payment, paymentType, 
      postage, status, paymentTime, 
      sendTime, endTime, closeTime, 
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT}, #{orderno,jdbcType=BIGINT}, #{userid,jdbcType=INTEGER}, 
      #{shippingid,jdbcType=INTEGER}, #{payment,jdbcType=DECIMAL}, #{paymenttype,jdbcType=INTEGER}, 
      #{postage,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{paymenttime,jdbcType=TIMESTAMP}, 
      #{sendtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{closetime,jdbcType=TIMESTAMP},
            now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.pojo.Order" >
    insert into mmall_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="shippingid != null" >
        shippingId,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="paymenttype != null" >
        paymentType,
      </if>
      <if test="postage != null" >
        postage,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="paymenttime != null" >
        paymentTime,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="closetime != null" >
        closeTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shippingid != null" >
        #{shippingid,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymenttype != null" >
        #{paymenttype,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        #{postage,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="paymenttime != null" >
        #{paymenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="closetime != null" >
        #{closetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        now(),
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.Order" >
    update mmall_order
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="shippingid != null" >
        shippingId = #{shippingid,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymenttype != null" >
        paymentType = #{paymenttype,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        postage = #{postage,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="paymenttime != null" >
        paymentTime = #{paymenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="closetime != null" >
        closeTime = #{closetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = now(),
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.Order" >
    update mmall_order
    set orderNo = #{orderno,jdbcType=BIGINT},
      userId = #{userid,jdbcType=INTEGER},
      shippingId = #{shippingid,jdbcType=INTEGER},
      payment = #{payment,jdbcType=DECIMAL},
      paymentType = #{paymenttype,jdbcType=INTEGER},
      postage = #{postage,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      paymentTime = #{paymenttime,jdbcType=TIMESTAMP},
      sendTime = #{sendtime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      closeTime = #{closetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>